.jumbotron
  .container
    %h1.display-3 Rails Films
    %p
      Ruby on Rails application inspired (partially) by Filmweb.pl. It covers
      features like action cable comments or signing in with facebook account.
    %p= link_to "Log in", new_user_session_path, class: 'btn basic-button btn-lg'

.container.homepage
  %h1.text-center.font-weight-bold Recent news
  - @recent_news.in_groups_of(3, false) do |row|
    .row
      - row.each do |news|
        .col-md-4
          %h2= link_to news.heading, news, class: 'link-one'
          %p= truncate(strip_tags(markdown(news.body)), length: 150)
          %p= link_to 'Read more', news, class: 'btn basic-button'
