// HELPER CLASSES

$light-grey: #808080;

.half-size {
  font-size: 50%;
}

.size-80 {
  font-size: 80%;
}

.link-one {
  color: black;

  &:hover {
    color: black;
  }
}

.basic-button {
  background-color: #101010;
  border-color: #101010;
  color: white;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .single-film {
   border: 1px solid #cccccc;
   margin-bottom: 10px;
   padding: 10px 20px;
   h3 {
     margin-top: 10px;
   }

   .title-link {
     @extend .link-one;
     transition: color .3s;
     &:hover {
       text-decoration: none;
       color: rgba(128, 128, 128, 1);

     }
   }
 }

 .additional-info  {
  margin-bottom: 10px;
  ul {
    display: inline;
    padding-left: 5px;

    li {
      list-style-type: none;
      display: inline;
    }

    li:not(:last-child):after {
      content: ", ";
    }
  }
}

.films-filters {
  text-align: center;
  padding: auto;
  .filter-title input[type="search"] {
    font-size: 1.2em;
  }

  .filter-genre select {
    font-size: 1.2em;
  }

  .filter-premiere  {
    display: flex;
    select {
      width: 50%;
      font-size: 1.2em;
    }
  }

  .filter-button {
    @extend .basic-button;
    width: 35%;
    font-size: 1.2em;
  }
}

.films-filters > * {
  display: block;
  margin: 5px auto 5px auto;
}


// FILM SHOW PAGE
.film-page {
  margin-top: 25px;
}

.film-details {
  width: 46%;
  margin-bottom: 25px;

  table {
    th {
      padding-right: 10px;
      color: $light-grey;
      font-weight: normal;
    }
  }

  a:not(:last-child):after {
    content: ", ";
  }
}

.role-as {
  text-align: right;
  color: $light-grey;
}

// PERSON SHOW PAGE
.person-details {
  margin-top: 25px;
  ul {
    display: inline;

    li {
      display: inline;
      list-style-type: none;
    }
  }
}

.person-filmography {
  margin-top: 25px;
  button {
    @extend .basic-button;
    &:hover {
      background-color: #2f2f2f;
      border-color: #101010;
    }
    &:focus {
      background-color: #2f2f2f;
      border-color: #101010;
    }
  }
}

.person-biography {
  margin-top: 20px;
}

// NEWS INDEX
.news-index {
  margin: 25px 0;
  .card {
    // width: 75%;
    margin: 10px 0;
  }
}

// NEWS SHOW PAGE
.news-show {
  margin: 25px 0;
}

.news-info {
  color: #9d9d9d;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.news-body {
  margin-top: 10px;
}

// NEWS FORM
.news-form {
  text-align: center;
  margin: 25px 0;
  form {
    width: 75%;
    margin: auto;
  }
}
