// HELPER CLASSES

$light-grey: #808080;

.half-size {
  font-size: 50%;
}

.link-one {
  color: black;

  &:hover {
    color: black;
  }
}

.basic-button {
  background-color: #101010;
  border-color: #101010;
  color: white;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .single-film {
   border: 1px solid #cccccc;
   margin-bottom: 10px;
   padding: 10px 20px;
   h3 {
     margin-top: 10px;
   }

   .title-link {
     @extend .link-one;
     transition: color .3s;
     &:hover {
       text-decoration: none;
       color: rgba(128, 128, 128, 1);

     }
   }
 }

 .additional-info  {
  margin-bottom: 10px;
  ul {
    display: inline;
    padding-left: 5px;

    li {
      list-style-type: none;
      display: inline;
    }

    li:not(:last-child):after {
      content: ", ";
    }
  }
}

.films-filters {
  text-align: center;

  .filter-title input[type="search"] {
    width: 70%;
    font-size: 1.2em;
  }

  .filter-genre select {
    width: 70%;
    font-size: 1.2em;
  }

  .filter-premiere select {
    width: 34.5%;
    font-size: 1.2em;
  }

  .filter-button {
    @extend .basic-button;
    width: 35%;
    font-size: 1.2em;
  }
}

.films-filters > * {
  display: block;
  margin: 5px auto 5px auto;
}


// FILM SHOW PAGE
.film-page {
  margin-top: 25px;
}

.film-details {
  width: 46%;
  margin-bottom: 25px;

  table {
    th {
      padding-right: 10px;
      color: $light-grey;
      font-weight: normal;
    }
  }

  a:not(:last-child):after {
    content: ", ";
  }
}

.role-as {
  text-align: right;
  color: $light-grey;
}
